<div class="container">
  <header><img src="images/Stupid Simple Logo.svg" class =img-responsive main-image" alt="Logo for SYS.io"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Dashboard for:</h2>
    <h4>Username: <%=@sucker.username%><h4><br>
    <%= erb :"_navigation" %><br>
    
    <div class="content">
      <h4>Welcome!</h4>
      <p> Hey <%=@sucker.first_name%>, glad your back!<br></p>
      <p>=============================================</p>

      <h4>News:</h4>
      <p>While you're here why not check out a few of our amazing <a href="/corporations">Corporate Partners</a>, the list of companies willing to pay you for your information is growing everyday, so dont miss out on your chance to <i><a href="/sucker/<%=@sucker.id%>/edit">add a few<a></i></p><br>
        <h4>Your info at a glance:</h4><br>
        <ul>
          <li><b>Earnings</b>:
            $<%= @sucker.balance%></li><br>
          <li><b>Active Partners</b>:
            <%=@sucker.corporations.all.length%></li><br>
        <ul>
    </div>
  </div>
</div>